.faq-section .left-column .image{
    width: 100%;
    height: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.faq-section .left-column .sub-heading,.faq-section .right-column .sub-heading{
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #4986fc;
    text-transform: uppercase;
}
.faq-section .left-column .heading{
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", Arial, sans-serif;
}
.faq-section .left-column .cards .card {
    padding: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 25px -16px rgba(0, 0, 0, 0.36);
}
.faq-section .left-column .cards .card .heading-div{
    width: fit-content;
}
.faq-section .left-column .cards .card .heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", Arial, sans-serif;
}
.faq-section .left-column .cards .card .line{
    width: 50%;
    height: 3px;
    background-color:rgb(2, 83, 5);
    transition: 0.3s all ease-in-out;
}
.faq-section .left-column .cards .card:hover .line{
    width: 100% ;
}
.faq-section .left-column .cards .card .body-content{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
}
.faq-section .left-column .button,.faq-section .right-column .button{
    background: #4986fc !important;
    border: 1px solid #4986fc !important;
    color: #fff;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.faq-section .right-column .heading{
    font-weight: 600;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.8);
}
.faq-section .right-column .faq-details .faq-detail .questions{
    width: 100%;
    font-weight: 600;
    color: black;
    padding: 15px 20px !important;
    text-transform: capitalize;
    letter-spacing: 0;
    border-radius: 0 !important;
    margin-bottom: 10px;
    border-radius: 4px !important;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    transition: 0.9 all ease-in-out;
}
.faq-section .right-column .faq-details .faq-detail .questions:hover{
    box-shadow: 0px 2px 8px -4px rgba(0.1, 0.1, 0.1, 0.41) !important;
}
.faq-section .right-column .faq-details .faq-detail .questions.open{
    background-color: #4986fc;
    color: #fff !important;
}
.faq-section .right-column .faq-details .faq-detail .questions .question{
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    transition: all 0.2s ease;
}
.faq-section .right-column .faq-details .faq-detail .questions .icon{
    color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-weight: 600;
}
.faq-section .right-column .faq-details .faq-detail .questions.open .icon{
    color: #fff !important;
}
.faq-section .right-column .faq-details .faq-detail .answers{
    display: none;
    transition: all 2s ease;
}
.faq-section .right-column .faq-details .faq-detail .answers.open{
    display: block;
}
.faq-section .right-column .faq-details .faq-detail .answers .answer{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}