
.project-details .service.image{
    width: 100%;
    height: 100% !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project-details .image{
    width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.project-details .sub-heading{
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #4986fc;
    text-transform: uppercase;
}
.project-details .heading{ 
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
.project-details .connect-heading{ 
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.project-details .body-content{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    text-align: justify;
}
.project-details .content{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
    text-align: justify;
}
.project-details .content .bold{
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
}
.project-details .button{
    background: rgb(2, 83, 5) ;
    border: 1px solid rgb(2, 83, 5) ;
    color: #fff ;
    border-radius: 4px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s all ease-in-out;
}
.project-details .button:hover{
    background-color: whitesmoke ;
    color: rgb(2, 83, 5) ;
    font-weight: 800;
}
@media only screen and (max-width:768px){
    .project-details .image{
        height: 400px !important;
    }
}