.scroll-to-top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 3;
    transition: 0.3 all ease-in-out;
}
.scroll-to-top .icon{
    background-color: rgb(2, 83, 5);
    padding: 7px;
    border-radius: 5px;
}