.subscribe-section{

}
.subscribe-section .image{
    height: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 3em;
}
.subscribe-section .image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: linear-gradient(45deg, #207ce5 0%, #6f4be8 100%);
    z-index: -1;
}
.subscribe-section .image .content {
    text-align: center;
    z-index: 1;
}
.subscribe-section .image .content .heading{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}
.subscribe-section .image .content .text{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.subscribe-section .image .single-input-form{
    
}
.subscribe-section .image .single-input-form .single-input{
    justify-content: center;
}
.subscribe-section .image .single-input-form .single-input .input-box{
    width: 40%;
    background: white !important;
    outline: 1px solid transparent;
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 16px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
}
.subscribe-section .image .single-input-form .single-input input:focus{
    border: none !important;
}
.subscribe-section .image .single-input-form .single-input .button{
    color: #fff !important;
    background: #1765fb !important;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    border: none !important;
}